<!DOCTYPE html>
<html>
    <head>
        <title>Monster Slayer</title>
        <script src="https://npmcdn.com/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="css/foundation.min.css">
        <link rel="stylesheet" href="css/app.css">
    </head>
    <body>
        <div id="app">
            <section class="row">
                <div class="small-6 columns">
                    <h1 class="text-center">YOU</h1>
                    <div class="healthbar">
                        <div 
                            :style="{width: myHP + '%'}" 
                            class="healthbar text-center" 
                            style="background-color: green; margin: 0; color: white;">
                            <p style="line-height: 40px">{{ myHP }}%</p>
                        </div>
                    </div>
                </div>
                <div class="small-6 columns">
                    <h1 class="text-center">MONSTER</h1>
                    <div class="healthbar">
                        <div 
                            :style="{width: monsterHP + '%'}" 
                            class="healthbar text-center" 
                            style="background-color: green; margin: 0; color: white;">
                            <p style="line-height: 40px">{{ monsterHP }}%</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="row controls" v-if="!isStart">
                <div class="small-12 columns">
                    <button id="start-game" @click="resetGame()">START NEW GAME</button>
                </div>
            </section>
            <section class="row controls" v-if="isStart">
                <div class="small-12 columns">
                    <button id="attack" @click="attack()">ATTACK</button>
                    <button id="special-attack" @click="specialAttack()">SPECIAL ATTACK</button>
                    <button id="heal" @click="heal()">HEAL</button>
                    <button id="give-up" @click="giveup">GIVE UP</button>
                </div>
            </section>
            <section class="row log">
                <div class="small-12 columns">
                    <ul>
                        <template v-for="logItem in log">
                            <li class="monster-turn">MONSTER HITS PLAYER FOR {{ -logItem.monster }}</li>
                            <li class="player-turn" v-if="logItem.player < 0">PLAYER HITS MONSTER FOR {{ -logItem.player }}</li>
                            <li class="player-turn" v-else>PLAYER HEALS HIMSELF FOR {{ logItem.player }}</li>
                        </template>
                    </ul>
                </div>
            </section>
        </div>
        <script src="./JS/javascript.js"></script>
    </body>
</html>